@media (max-width: 1599px) {

    .hero-button {
        margin-top: 50px;
    }

    section.hero-section {
        padding: 240px 0 40px;
    }

    .process-steps {
        gap: 15px;
        display: flex;
        flex-wrap: nowrap;
        margin: 50px 0 100px;
    }

    .hero-note {
        margin: 70px 0 0;
    }

    .hero-para {
        font-size: 16px;
    }

    .textile-section {
        padding: 80px 0;
    }

    .manufacturing {
        padding: 60px 0;
    }

    .card-section {
        padding: 80px 0;
    }

    .midwest-section {
        padding: 80px 0;
    }

    .oem-section {
        padding: 80px 0;
    }

    .sewn-section {
        padding: 70px 0;
    }

    .our-process {
        padding: 80px 0;
    }

    .quote-section {
        padding: 80px 0;
    }

    .quote {
        margin: 0 auto;
        max-width: 845px;
    }

    .quote-para {
        font-size: 20px;
        font-weight: 400;
    }

    .footer {
        padding: 80px 0 100px;
    }

    .footer-head {
        margin: 0 0 30px;
    }

    .footer-para {
        font-size: 14px;
    }

    .copyright {
        padding: 24px 0;
    }

    .copyright-content {
        font-size: 12px;
    }

    .copyright-para p {
        font-size: 12px;
    }
}



@media (max-width:1280px) {
    .num-image {
        display: none;
    }

    .cta {
        font-size: 16px;
        justify-content: center;
    }

    .list-item {
        font-size: 14px;
    }

    .call {
        padding: 11px 11px;
        width: 60%;
        text-align: center;
    }

    .hero-num {
        color: white;
        font-weight: 700;
        position: relative;
        bottom: 2px;
        font-size: 14px;
    }

    .items {
        padding: 11px 15px;
        width: 120px;
        text-align: center;
    }

    .manufacturing {
        padding: 80px 0;
    }

}

@media (max-width: 1100px) {

        section.hero-section {
        padding: 200px 0 40px;
    }

    .hero-subheading{
        font-size: 18px;
    }

    .menu.open {
        display: block !important;
    }

    .menu-icon {
        background: #2a455b;
        display: none;
    }

    .num {
        color: #fff;
        text-align: center;
    }

    .menu {
        width: 30px;
        height: 24px;
        cursor: pointer;
    }

    .menu div {
        width: 100%;
        height: 4px;
        background: #fff;
        margin-bottom: 4px;
        transition: 0.3s ease;
        border-radius: 2px;
    }

    .menu.active .icone-bar1 {
        transform: rotate(45deg) translate(10px, 9px);
    }

    .menu.active .icone-bar2 {
        opacity: 0;
    }

    .menu.active .icone-bar3 {
        transform: rotate(-45deg) translate(2px, -1px);
    }

    .list-item.items {
        font-size: 16px;
        padding: 15px 50px 15px 25px;
        width: 29%;
        height: 53px;
        text-align: center;
    }

    .call {
        padding: 11px 11px;
        width: 30%;
        text-align: center;
    }

    .list-item {
        font-size: 18px;
    }

    .card-content {
        width: calc(50% - 8px);
    }

    .card-container {
        gap: 15px;
        margin: 50px 0 0;
    }

    .card-para {
        font-size: 18px;
    }

    .num-image {
        display: none;
    }

    .num-rings {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .manufacture {
        width: 100%;
        padding: 0 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .manufacturing {
        padding: 60px 0;
    }

    .container.num-container {
        padding: 0 40px;
    }

    .rings {
        font-size: 18px;
        margin: 0;
    }

    .midwest-section {
        padding: 80px 0;
    }

    .nav-icon {
        display: block;
        font-size: 30px;
        position: relative;
        top: 21px;
        padding: 10px;
    }

    .topnav.responsive .menu-icon {
        display: block;
        position: absolute;
        top: 100%;
        background: #173c52;
    }

    .topnav.responsive .menu-icon {
        display: block;
        position: absolute;
        top: 100%;
        background-color: #173c52;
        width: 100%;
        left: 0;
        padding: 40px;
    }

    .list {
        width: 100%;
        margin: 0;
        padding: 15px 40px;
    }

    li.list-item.lst {
        width: 100%;
        margin: 0;
        padding: 15px 40px;
    }

    .menu-icon {
        background: #2a455b;
        position: absolute;
        top: 118px;
        width: 100%;
        right: 0;
    }

    .nav-links.show {
        display: flex;
        background-color: #ffffff;
        height: 100vh;
        left: 0;
        overflow-y: scroll;
        padding-bottom: 30vh;
        position: absolute;
        right: 0;
        text-align: left !important;
        top: 100%;
        width: 100% !important;
    }


    .menu.open.active .icone-bar2 {
        opacity: 0;
    }


    .cta {
        background: #2a455b;
        position: absolute;
        top: 283px;
        right: 0px;
        padding: 15px;
        width: 100%;
        justify-content: center;
    }

    .hero-content h1 {
        font-size: 29px;
    }

    .hero-content {
        text-align: left;
    }

    .main {
        font-size: 35px;
        padding-right: 80px;
    }

    .num-left h2.main {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }

    .num-left {
        font-size: 35px;
        align-items: center;
        padding: 0;
        max-width: 100%;
        margin-bottom: 25px;
    }

    .hero-image {
    height: 173px;
    width: 20%;
    }

    .hero-img {
        width: 100%;
    }

    .hero-para {
        width: 100%;
        max-width: none;
        font-size: 16px;
        text-align: left;
    }

    .hero-para2 {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .hero-note {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin: 70px 0 0;
    }

    .service-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .footer-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .midwest {
        gap: 30px;
    }

    .flag {
        position: absolute;
        width: 40%;
        left: 48px;
    }

    .oem-subheading {
        font-size: 18px;
        font-weight: 400;

    }

    .oem {
        gap: 30px;
    }

    .process-heading {
        font-size: 30px;
    }

    .process-steps {
        gap: 15px;
        display: flex;
        flex-wrap: nowrap;
    }

    .process-step {
    padding: 0px;
}

   

    .img-pro5 {
        margin: 0 23px 15px 23px;
    }

    .img-pro2 {
        margin: 0 23px 15px 23px;
    }

    .img-pro3 {
        margin: 0 23px 15px 23px;
    }

    .img-pro4 {
        margin: 0 23px 15px 23px;
    }

    .img-pro {
        margin: 0 23px 15px 23px;
    }

    .oem-image {
        width: 52%;
        height: 393%;
        display: flex;
        flex-wrap: wrap;
    }

    .container.footer-container {
        padding: 0 40px;
    }

    .footer-left {
        padding-right: 49.4265px;
    }

    .footer-social {
        width: calc(30% - 51px);
    }

    .footer-lnks {
        padding: 0 0 22.4px;
    }

    .footer-head {
        font-size: 20px;
        margin: 0 0 30px;
    }

    .footer-para {
        font-size: 12px;
        line-height: 1.2;
    }

    .footer-numbers strong{
        font-size: 24px;
    }

    

    .footer-lnk {
        margin: 0;
    }

    .footer-item {
        padding: 7px 0;
    }

    .footer-numbers {
        margin: 0 0 22.4px;
    }

    .menu-icon {
        background: #2a455b;
    }
}


@media (max-width: 1024px) {
    .num-rings {
        flex-wrap: wrap;
    }

    .call {
        padding: 11px 11px;
        width: 30%;
        text-align: center;
    }
}


@media (max-width: 992px) {

    .container {
        width: 100%;
        padding: 0 40px;
    }

    .arrow-icon {
        position: absolute;
        top: 13px;
        left: 13px;
    }


    .nav-icon {
        display: block;
    }


    .nav-links.show {
        display: flex;
        background-color: #ffffff;
        height: 100vh;
        left: 0;
        overflow-y: scroll;
        padding-bottom: 30vh;
        position: absolute;
        right: 0;
        text-align: left !important;
        top: 100%;
        width: 100% !important;
    }

    .num-rings {
        max-width: 100%;
        justify-content: center;
        gap: 40px;
    }


    .midwest {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    img.oem-image {
        width: 90%;
        height: 518%;
        display: flex;
        flex-wrap: wrap;
    }

    .call {
        padding: 11px 11px;
        width: 30%;
        text-align: center;
    }

    .num-left h2.main {
        max-width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .service-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .oem {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .sewn-content {
        display: flex;
        flex-wrap: wrap;
    }

    .sewn-head {
        width: 100%;
    }

    .sewn-image-section {
        width: 100%;
    }

    .process-steps {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }

    .process-step {
        width: calc(33.33% - 27px);
        text-align: -webkit-center;
    }

    .footer-content {
        display: block;
    }

    .footer-social {
        width: 50%;
    }

    .footer-right {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 0;
    }

    .footer-left {
        padding: 0px;
        width: 100%;
    }

    .copyright-content {
        display: grid;
        font-size: 16px;
    }
}



@media (max-width: 767px) {


    .call {
        font-size: 14px;
        padding: 11px 15px;
    }


    .nav-icon {
        display: block;
    }

    .hero-section {
        padding: 140px 0 40px;
    }


    .nav-links.show {
        display: block;
        background-color: #ffffff;
        height: 100vh;
        left: 0;
        overflow-y: scroll;
        padding-bottom: 30vh;
        position: absolute;
        right: 0;
        text-align: left !important;
        top: 100%;
        width: 100% !important;
    }

    .hero-image {
        height: 121px;
        width: 25%;
    }

    .cta {
        position: absolute;
        top: 286px;
        right: 0px;
        padding: 15px;
        width: 100%;
        justify-content: center;
        background: #2a455b;
    }

    .cta .show {
        display: flex;
        width: 100%;
        top: 0;
        z-index: -1;
        padding-top: 80px;
        left: 0;
        padding-bottom: 57px;
    }

    .textile-section h2 {
        font-size: 28px;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .num-left h2.main {
        font-size: 28px;
    }

    .main {
        font-size: 35px;
    }

    .num-rings {
        max-width: 100%;
        justify-content: center;
        gap: 3%;
    }

    .hero-heading {
        font-size: 29px;
    }

    .hero-image {
        width: 26%;
        height: 76%;
    }

    .hero-subheading {
        font-size: 18px;
    }

    .btn-primary {
        padding: 15px 50px 15px 25px;
        min-width: 20px;
    }

    .btn-primary {
    min-width: 160px;
    padding: 15px 50px 15px 25px !important;
    }

    .arrow-icon {
    position: absolute;
    top: 7px;
    left: 7px;
}

    span.arrow-span {
    height: 35px !important;
    width: 35px !important;
    position: absolute;
    right: 7px;
    bottom: 8px;
}

    .arrow-span {
        height: 35px !important;
        width: 35px !important;
    }

    .arrow-icon {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .ring {

        height: 150px;
        width: 150px !important;
    }

    .rings {
        font-size: 24px;
    }

    .arrow-span {
        height: 35px !important;
        width: 35px !important;
        position: absolute;
        bottom: 5px;
        right: 6px;
    }

    .container {
        padding: 0 30px;
    }

    .card-container {
        margin: 20px auto 0;
    }

    .card-content {
        width: 100%;
    }

    .midwest-heading h2 {
        font-size: 28px;
        display: flex;
    }

    .flag {
        position: absolute;
        width: 41%;
        left: 67px;
    }


    .midwest-heading p {
        font-size: 16px;
    }

    .oem-heading {
        font-size: 28px;
    }

    .card-heading {
        font-size: 28px;
    }

    .oem-para {
        font-size: 16px;
    }

    .check-icon {
        background-size: 20px;
        height: 20px;
        width: 20px;
    }

    .oem-lst {
        font-size: 16px;
    }

    .btn.btn-primary.bn {
        font-size: 16px;
        padding: 15px 35px;
    }

    .oem-image {
        width: 100%;
    }

        .sewn-section {
        padding: 45px 0;
    }

    .process-steps{
        margin: 50px 0;
    }

    .num-rings {
        max-width: 100%;
        justify-content: center;
    }

        .card-section {
        padding: 40px 0;
    }


    .card-title{
        font-size: 18px;
    }

    .midwest-section {
        padding: 40px 0;
    }


    .textile {
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: center;
        margin: 0;
    }

    .textile .textile-item {
        width: calc(50% - -61px);
    }

    .quote-section {
        padding: 50px 0;
    }

    h2.quote-heading {
    font-size: 28px;
    }

    .quote-para {
        font-size: 16px;
        font-weight: 400;
    }

    .quote-note{
        margin-top: 30px;
    }

    .process-heading {
        font-size: 20px;
    }

    .our-process {
        padding: 50px 0;
    }

    .sewn-heading {
        font-size: 28px;
    }

    .quote-button {
        min-width: unset !important;
        padding: 15px 50px 15px 25px !important;
    }

    section.footer {
        padding: 50px 0 0;
    }


    .copyright-content {
        font-size: 14px;
    }

    .footer-head{
        padding: 0 10px;
    }

    .copyright-para p {
        font-size: 14px;
    }
}


@media (max-width: 580px) {

    .container {
        padding: 0 12px;
    }

    .hero-heading {
        font-size: 29px;
        text-align: center;
    }

    .hero-subheading {
        text-align: center;
    }

    .hero-button {
        flex-direction: column;
        gap: 12px;
        margin-top: 40px;
    }


    .copyright-para p {
        font-size: 12px;
    }

    .process-step {
        width: calc(40% - 30px);
        display: grid;
        justify-content: center;
    }

    .cta {
        flex-direction: column;
        background: #173c52;
        position: absolute;
        top: 286px;
        right: 0px;
        padding: 15px;
        width: 100%;
    }

    .quote-heading {
        font-size: 28px;
    }


    .call {
        padding: 11px 11px;
        width: 77%;
        height: 49px;
        text-align: center;
    }

    .list-item.items {
        font-size: 16px;
        padding: 15px 50px 15px 25px;
        width: 78%;
        height: 53px;
        text-align: center;
    }

    .num {
        color: #fff;
        text-align: center;
        display: block;
    }

    .call {
        padding: 11px 11px;
        width: 100%;
        height: 49px;
        text-align: center;
    }

    .list-item.items {
        font-size: 16px;
        padding: 15px 50px 15px 25px;
        width: 100%;
        height: 53px;
        text-align: center;
    }

    .process-steps {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .footer-left {
        width: 100%;
        padding: 0;
    }

    .footer-right {
        width: 100%;
        gap: 0;
    }
}

@media (max-width: 450px) {
    .footer-right {
        display: block;
    }

        .logo img {
        width: 65px;
        height: 40px;
    }

        .menu {
        width: 24px;
        position: relative;
        top: 10px;
    }

    .num {
        color: #fff;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-button {
        /* flex-direction: column; */
        gap: 12px;
        margin-top: 40px;
    }

}


@media (max-width: 360px) {

    .container {
        padding: 0 12px;
    }

    .hero-heading {
        font-size: 29px;
        text-align: center;
    }

    .hero-subheading {
        text-align: center;
    }

    .hero-button {
        flex-direction: column;
        gap: 12px;
        margin-top: 40px;
    }

    .navbar {
        padding: 15px 30px;
    }

    .menu {
        width: 24px;
        position: relative;
        top: 10px;
    }


    .logo img {
        width: 65px;
        height: 40px;
    }

    .hero-section {
        padding: 140px 0 40px;
    }

        span.arrow-span {
        bottom: 5px;
    }

    .num {
        color: #fff;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .num-rings {
        gap: 40px;
    }

    .nav-links.show {
        display: flex;
        background-color: #ffffff;
        height: 100vh;
        left: 0;
        overflow-y: scroll;
        padding-bottom: 30vh;
        position: absolute;
        right: 0;
        text-align: left !important;
        top: 100%;
        width: 100% !important;
    }

    .main {
        padding: 0px;
    }

    .hero-heading {
        font-size: 29px;
    }

    .cta {
        flex-direction: column;
        position: absolute;
        top: 285px;
        right: 0px;
        padding: 15px;
        width: 100%;
        background-color: #2a455b;
    }

    .cta .show {
        display: flex;
        width: 100%;
        top: 0;
        z-index: -1;
        padding-top: 80px;
        left: 0;
        padding-bottom: 57px;
    }

    .nav-icon {
        display: block;
        position: static;
    }

    .hero-img {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .hero-numbers {
        font-size: 30px;
    }

    .hero-number {
        font-size: 30px;
    }

    .hero-note {
        margin-top: 50px;
    }

    .hero-content {
        align-items: center;
    }

    .hero-iconimg {
        width: 69px;
        height: 36px;
    }

    .hero-section {
        padding: 140px 0 40px;
        text-align: center;
    }

    .num-left {
        align-items: center;
        padding: 0;

    }

    .num-left h2.main {
        font-size: 28px;
        max-width: 100%;
    }

    .hero-heading {
        font-size: 30px;
        line-height: 1.3;
        max-width: 100%;
    }

    .hero-subheading {
        font-size: 16px;
        line-height: 1.45;
    }

    .hero-button {
        flex-direction: column;
        gap: 12px;
        margin-top: 40px;
    }

    .btn-primary,
    .btn-secondary {
        min-width: 100%;
        padding: 12px 20px;
        font-size: 14px;
    }

    .hero-image {
        width: 80px;
        height: 80px;
    }

    .card-title {
        font-size: 18px;
    }

    .cards-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .card {
        width: 100% !important;
        margin: 0 auto;
        display: block;
    }

    .card-description {
        font-size: 14px;
    }

    .card .btn {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }



    .process-step {
        width: calc(40% - -13px);
        display: grid;
        justify-content: center;
    }

    .process-steps {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .footer-social {
        width: auto;
    }

    .footer-numbers {
        display: grid;
    }

    .textile-section {
        padding: 40px 0;
        text-align: center;
    }

    .textile-section h2 {
        font-size: 28px;
        line-height: 1.3;
        margin-bottom: 20px;
        width: 299px;
    }

    .container.textile-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .container.textile-container .textile-item {
        width: 100% !important;
        max-width: 320px;
        margin: 0 auto;
        padding: 15px 10px;
    }

    .container.textile-container iframe {
        width: 100%;
        height: auto;
        max-width: 260px;
        margin: 0 auto;
        display: block;
    }

    .textile-para {
        text-align: center;
        justify-content: center;
    }

    .textile-title {
        font-size: 20px;
        margin: 10px 0;
    }

    .textile-description {
        font-size: 14px;
    }

        .oem-section {
        padding: 45px 0;
    }

    img.oem-image{
        width: 100%;
    }

        .our-process {
        padding: 45px 0;
    }

    .primary-btn svg {
    display: none;
}

    .midwest-heading h2 {
        display: block;
    }

        .oem-heading {
        font-size: 28px;
        width: 294px;
    }

    .pera {
    font-size: 14px;
}

    .footer-left {
        width: 100%;
        padding: 0;
    }

    section.footer {
        padding: 50px 0;
    }

    .copyright-para p {
        font-size: 12px;
        gap: 7px;
    }
}