@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-Bold.woff2') format('woff2'),
        url('BDOGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-Black.woff2') format('woff2'),
        url('BDOGrotesk-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-Black.woff2') format('woff2'),
        url('BDOGrotesk-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-DemiBold.woff2') format('woff2'),
        url('BDOGrotesk-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-Light.woff2') format('woff2'),
        url('BDOGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-DemiBold.woff2') format('woff2'),
        url('BDOGrotesk-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-ExtraBold.woff2') format('woff2'),
        url('BDOGrotesk-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-ExtraBold.woff2') format('woff2'),
        url('BDOGrotesk-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-Bold.woff2') format('woff2'),
        url('BDOGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-Medium.woff2') format('woff2'),
        url('BDOGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-Light.woff2') format('woff2'),
        url('BDOGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-Regular.woff2') format('woff2'),
        url('BDOGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-Regular.woff2') format('woff2'),
        url('BDOGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-Medium.woff2') format('woff2'),
        url('BDOGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url('BDOGrotesk-Regular.woff2') format('woff2'),
        url('BDOGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
    box-sizing: border-box
}

body,
html {
    margin: 0;
    padding: 0
}

body {
    color: #333;
    font-family: BDO Grotesk, sans-serif !important;

}

img {
    display: block;
    height: auto;
    max-width: 100%
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    max-width: 1720px;
    padding: 0 20px;
    width: 100%
}

.hero-highlight {
    color: #f8ae1d;
}



/* navbar start */

.top-bar {
    display: flex;
    background: linear-gradient(0deg, hwb(207 5% 83% / 0.9), rgba(13, 30, 44, .9));
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #4CAF50;
    color: rgb(251, 251, 251);
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50;
    left: 0;
}

.logo img {
    width: 145px;
    height: 90px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 20px;
    gap: 20px;
    margin:0px;
    padding:0px;
}

.menu-icon {
    display: flex;
    gap: 20px;
}

img.arrow-icon\> {
    position: relative;
    left: 14px;
}

img.arrow-icon {
    position: relative;
    top: 5px;
    left: 7px;
}

.cta {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 20px;
    gap: 20px;
}

.list {
    display: inline-block;
    padding: 25px .875rem;
}

.list-item {
    text-decoration: none;
    color: white;
}

.list-item.item {
    border: 1.5px solid #f8ae1d;
    border-radius: 50px;
    display: inline-block;
    font-size: 18px;
    padding: 12px 21px;
    font-weight: 700;
}

.list-item.item:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

.list-item.items {
    background-color: #f8ae1d;
    border: 15px solid #c6767600;
    border-radius: 50px;
    color: #1b1b17;
    display: inline-block;
    font-size: 18px;
    padding: 0px 21px;
    font-weight: 700;
}

.list-item.items:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

/* navbar end */



/* hero section start */

.hero-heading {
    font-weight: 600;
    line-height: 1.2;
    font-size: 70px;
    margin: 0px 0px;
    padding: 0 0 24px;
    max-width: 754px;
}

.hero-subheading {
    font-size: 21px;
    line-height: 1.55;
    font-weight: 600;
}

.hero-content {
    max-width: 760px;
}

.video-bg {
    object-fit: cover;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}

.hero-section {
    background: linear-gradient(0deg, #0d1e2ce6, rgba(13, 30, 44, .9));
    padding: 240px 0 40px;
    position: relative;
    color: white;
}

.hero-button {
    margin-top: 80px;
    display: flex;
    gap: 1rem;
}

.hero-image {
    width: 137px;
    height: 130px;
}

.btn-primary {
    color: #1b1b17;
    background-color: #f8ae1d;
    border: 2px solid #00000000;
    border-radius: 50px;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    padding: 11px 38px;
    align-items: center;
}

.btn-primary:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

.btn-secondary {
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #f8ae1d;
    border-radius: 50px;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 38px;
    align-items: center;
}

.btn-secondary:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

.hero-note {
    background-image: url(/midwest/images/counter_img.web.webp);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    display: flex;
    gap: 2%;
    justify-content: space-between;
    margin-top: 160px;
    overflow: hidden;
    padding: 50px;
}

.hero-img {
    align-items: center;
    display: flex;
    gap: 32px;
    width: 50%;
}

.hero-para {
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
    max-width: 326px;
    width: 80%;
}

.arrow-span {
    position: relative;
    left: 11px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .25);
    height: 35px;
    width: 40px;
}

/* hero section end */



/* textile section start */

.textile-section {
    padding: 80px 0;
    text-align: center;
}

.textile-section h2 {
    font-size: 56px;
    font-weight: 600;
    margin: 0 0 30px;
    color: #263745;
}

.textile-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.textile-title {
    font-size: 20px;
    margin: 0px 0 10px;
}

.textile-description {
    font-size: 16px;
    color: rgba(51, 51, 51, .6);
    max-width: 367px;
}

.container.textile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.container.textile-container .textile-item {
    width: calc(33.333% - 20px);
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
}


.container.textile-container iframe {
    width: 100%;
}

.hero-para2 {
    align-items: center;
    display: flex;
    gap: 10%;
    justify-content: flex-end;
    width: 50%;
}

.hero-numbers {
    font-size: 50px;
}

.hero-number {
    font-size: 50px;
    color: #f8ae1d;
}

.hero-icon p {
    margin: 20px 0 0;
    font-size: 18px;
}


/* textile section end */



/* manufacturing section start */

.num-left h2 {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.2;
    color: white;
    max-width: 400px;
}

.num-image {
    position: relative;
    left: 120px;
    height: 200px;
    top: 60px;
}

section.manufacturing {
    background-color: #0d1e2ce6;
    padding: 60px 0;
}

.num-container {
    display: flex;
    justify-content: space-between;
}

.num-rings {
    align-items: center;
    display: flex;
    gap: 11%;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 65%;
}

.num {
    color: #fff;
    text-align: center;
}

.num-left {
    font-size: 56px;
    display: flex;
}

.num-imgage {
    margin-top: 20px;
    height: auto;
}

.ring {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: grid;
    max-width: 181px;
    place-items: center;
    width: 26vw;
    border: solid #f8ae1d;
}

.rings {
    font-size: xxx-large;
    color: white;
}

.pera {
    font-size: 14px;
    color: white;
    margin: 20px 0 0;
}

/* manufacturing section end */



/* card section start */

.card-heading {
    font-size: 56px;
    font-weight: 600;
    margin: 0 0 22.4px;
    line-height: 1.2;
    color: #263745;
}

.card-para {
    font-size: 20px;
    color: #666;
    margin: 0;
}

.card-section {
    padding: 80px 0;
    text-align: center;
}

.card-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 40px 0px;
}

.card-content {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.33% - 24px);
    box-sizing: border-box;

}

.card-image {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 22px;
    margin: 15px 0 10px;
    text-align: left;
}

.card-description {
    font-size: 16px;
    color: #33333399;
    margin-bottom: 15px;
    text-align: left;
}

/* card section end */



/* powerhouse section start */

section.midwest-section {
    padding: 60px 0;
}

.midwest-left {
    max-width: 551px;
}

.midwest-heading {
    font-size: 56px;
    max-width: 550px;
    margin: 0 0 25px;
    line-height: 1.2;
    color: #263745;
}

.midwest-right {
    max-width: 795px;
}

.midwest-image {
    width: 100%;
    height: auto;
    position: relative;
    left: 85px;
}

.midwest-para {
    font-size: 18px;
    margin: 0 0 22.4px;
    line-height: 1.5;
    max-width: 562px;
}

.button {
    color: #1b1b17;
    background-color: #f8ae1d;
    border: 2px solid #00000000;
    border-radius: 50px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 38px;
    margin: 25px 0 0;
}

.button:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

.midwest-content {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

.flag-image {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 560px;
    left: 160px;
}

/* powerhouse section end */



/* OEM section start */

section.oem-section {
    display: flex;
    background: linear-gradient(90deg, #1C3B55 0%, #263745 100%);
    color: #fff;
    padding: 100px 0 120px;
}

.oem {
    display: flex;
    position: relative;
    gap: 70px;
}

.oem-left {
    max-width: 551px;
}

.oem-right {
    max-width: 795px;
}

.oem-image {
    border-radius: 22px;
    max-width: 54%;
    height: 750px;
}

.oem-heading {
    font-size: 56px;
    max-width: 600px;
    margin: 0 0 25px;
}

.oem-subheading {
    font-size: 20px;
    margin: 0 0 24px;
}

.oem-para {
    font-size: 18px;
    margin: 0 0 22.4px;
    line-height: 1.6;
}

.oem-lst {
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    position: relative;
    list-style: none;
    display: flex;
}



.btn.btn-primary {
    float: left;
    background: #f8ae1d;
    border: 1px solid #f8ae1d;
    border-radius: 100px;
    color: #000;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    padding: 17px 38px;
    text-decoration: none;
    transition: .3s ease;
}



.check-icon {
    margin-right: 11px;
    right: 605px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
}

.btn.btn-primary.bn {
    margin: 25px 0 0;
}

/* OEM section end */



/* sew section start */

.sewn-section {
    background-color: #eff7fd;
    color: #fff;
}

.sewn-image {
    width: 270%;
}

.sewn-head {
    display: flex;
    padding: 100px 0 120px;
    gap: 4%;
}

.sewn-img {
    max-width: 100%;
    border-radius: 22px;
}

.sewn-heading {
    font-size: 56px;
    color: #263745;
    max-width: 526px;
    margin: 0 0 22.4px;
}
.sewn-para {
    font-size: 16px;
    color: #2a455b;
    margin: 0 0 22.4px;
    line-height: 1.6;
}


/* sew section end */



/* our process section start */


.our-process{
    padding: 80px 0;
    text-align: center;
}

.process-heading {
    font-size: 45px;
    text-align: center;
    color: #263745;
    margin: 0 0 22.4px;
    padding: 0;
}

.img-pro {
    align-items: center;
    background-color: #efefef;
    border-radius: 50%;
    display: flex;
    height: 105px;
    justify-content: center;
    margin: 0 auto 15px;
    width: 105px;
}

.step-para {
    text-align: center;
    font-size: 18px;
    color:#1e1e24;
}
.step-card {
    max-width: 250px;
    margin: 0 auto;
}

.process-steps {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 100px;
}

.btn.btn-primary.pry {
    position: relative;
    left: 560px;
    top: 50px;
}

.process-button {
    background-color: #f8ae1d;
    border: 1px solid #f8ae1d;
    border-radius: 100px;
    color: #000;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 43px;
    text-decoration: none;
    transition: .3s ease;
}

/* our process section end */



/* quote section start */

.quote-section{
    padding: 80px 0;
    text-align: center;
}

section.quote-section {
    background-color: #2a455b;
    color: white;
}

.quote-heading {
    font-size: 56px;
    line-height: 1.2;
    margin: 0 0 22.4px;
}

.quote-button {
    color: #1b1b17;
    background-color: #f8ae1d;
    border: 2px solid #00000000;
    border-radius: 50px;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    padding: 11px 38px;
    align-items: center;
}

.quote-button:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

.quote-note {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.quote-para {
    font-size: 18px;
    margin: 0 0 22.4px;
}

.quote-button.pry {
    background: #00000000;
    border-color: #f8ae1d;
    color: #fff;
}

.quote-button.pry:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

/* quote section end */



/* footer section start */

.footer {
    background-color: #21394D;
    color: white;
    padding: 80px 0;
}

.footer-right {
    display: flex;
    position: relative;
    bottom: 48px;
    gap: 20px;
    width: 65%;
}

.footer-content {
    display: flex;
    gap:20px;
}

.footer-links {
    list-style: none;
    padding: 0px;
    margin: 0;
}

.footer-left {
    padding: 0 73.75px 0 0;
    width: 30%;
}

.footer-head {
    font-size: 20px;
}

.footer-para {
    font-size: 14px;
    line-height: 1.2;
    max-width: 271px;
}

.footer-numbers {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0px;
}

.footer-numbers li{
    background-color: #2a455b;
    border-radius: 8px;
    color: #fff;
    font-size: 9.794px;
    padding: 25px;
    text-align: center;
}

.footer-list {
    padding: 7px 0;
    font-size: 14px;
}

.footer-item {
    font-size: 14px;
}

.footer-lnks {
    list-style: none;
    padding: 0px;
}

.footer-social {
    width: 238px;
}

.footer-logo {
    width: 122px;
    height: 75px;
}

.footer-lit {
    color: #ffffffbf;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 30px;
    position: relative;
}

svg.lucide.lucide-map-pin-icon.lucide-map-pin {
    left: 0;
    position: absolute;
    width: 24px;
    color: #f8ae1d;
}

svg.lucide.lucide-phone-icon.lucide-phone {
    left: 0;
    position: absolute;
    width: 24px;
    color: #f8ae1d;
}

.footer-numbers strong {
    font-size: 30px;
}

.footer-lst {
    color: #ffffffbf;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 30px;
    position: relative;
    margin: 0 0 25px;
}

.footer-itm {
    font-size: 14px;
}

.footer-icons {
    display: flex;
    position: relative;
    gap: 20px;
}

.footer-lin {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 70px 0 0;
} 

.footer-li a {
    align-items: center;
    border: 1px solid #7e909e;
    border-radius: 5px;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
}

svg.lucide.lucide-facebook-icon.lucide-facebook {
    align-items: center;
    border: 1px solid #7e909e;
    border-radius: 5px;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
}

svg.lucide.lucide-instagram-icon.lucide-instagram {
    align-items: center;
    border: 1px solid #7e909e;
    border-radius: 5px;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
}

svg.lucide.lucide-linkedin-icon.lucide-linkedin {
    align-items: center;
    border: 1px solid #7e909e;
    border-radius: 5px;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
}

svg.lucide.lucide-youtube-icon.lucide-youtube {
    align-items: center;
    border: 1px solid #7e909e;
    border-radius: 5px;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
}
/* footer section end */



/* copyright section start */

section.copyright {
    padding: 35px 0;
    background-color: #122b40;
    color: #ffffff80;
}

.copyright-content {
    display: flex;
    justify-content: space-between;
}

.copyright-para {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    margin: 0;
    text-align: right;
}

.copyright-para p {
    margin: 0;
}

/* copyright section end */